torchsde
trampoline>=0.1.2
spandrel>=0.4.0
kornia>=0.7.3
kornia-rs>=0.1.5
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
numpy>=2.1.1
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
